@(id: Long, placeForm: Form[Place], placeInfos : Seq[(String, String)])(implicit requestHeader: MessagesRequestHeader)

@import views.html.helper._

@main {
    
    <h1>Edit place</h1>
    
    @form(routes.HomeController.update(id)) {
        
        <fieldset>
            @CSRF.formField
            @inputText(placeForm("name"), Symbol("_label") -> "Place name", Symbol("_help") -> "")
            @inputText(placeForm("introduced"), Symbol("_label") -> "Introduced date", Symbol("_help") -> "")
            @inputText(placeForm("discontinued"), Symbol("_label") -> "Discontinued date", Symbol("_help") -> "")
            
            @select(
                placeForm("placeInfo"),
                placeInfos, 
                Symbol("_label") -> "PlaceInfo", Symbol("_default") -> "-- Choose a placeInfo --",
                Symbol("_showConstraints") -> false
            )
        </fieldset>
        <p>Dates are in yyyy-MM-dd format</p>

        <div class="actions">
            <input type="submit" value="Save this place" class="btn primary"> or
            <a href="@routes.HomeController.list()" class="btn">Cancel</a>
        </div>
        
    }
    
    @form(routes.HomeController.delete(id), Symbol("class") -> "topRight") {
        @CSRF.formField
        <input type="submit" value="Delete this place" class="btn danger">
    }
    
}
