@()

@main("Welcome") {
<div class="App">
  <header class="App-header">
    <h1> Google Maps API </h1>
  </header>
  <main>
    <div class="container">

      <div class= "row">
        <div class= "col">
          <h4> Test Page </h4>
          <p>This page is set up to be a testing bed for Google Maps API.</p>
        </div>
        <div class= "col"><h4> Map </h4></div>
      </div>

      <div class= "row">
        <div class="col"><h4> Feature </h4></div>
        <div class="col"><h4> Feature </h4></div>
      </div>

    </div>
  </main>
  <footer>

  </footer>
</div>
}
