@(placeForm: Form[PlaceData])(implicit request: MessagesProvider)


@main("Add files") {
        <section>
          <h4> Place </h4>
          <p>@placeForm.toString.</p>
        </section>
        <div id="place-details">
          <div id="left-div" >
            @helper.form(action = routes.ApplicationController.uploadPlace()) {
            <fieldset>
              <legend>Add/edit a place</legend>

              @helper.inputText(placeForm("name"))
              @helper.inputText(placeForm("description"))

            </fieldset>

            <div>
              <input type="submit" class="btn btn-success" value="Save place">
            </div>
          </div>
        </div>
}

}

